@model ClevelandTeaRevival.ViewModels.ShopViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ List<int> ozList = new List<int>();

    for(int i = 0; i <= 15; i++)
    {
        ozList.Add(i);

    }

    List<int> lbsList = new List<int>();

    for(int i = 0; i <= 3; i++)
    {
        lbsList.Add(i);

    }
}


<h2>Our Teas</h2>
@Model.

@{
    List<string> categories = new List<string>();

    foreach (var tea in Model.Teas)
    {

        var index = categories.IndexOf(tea.Category);
        if (index == -1)
        {
            categories.Add(tea.Category);
        }


    }

    foreach (var Category in categories)
    {
        <table class="table">
            <thead class="tea-category">
                <tr>
                    <th>
                        @Html.DisplayName(Category)
                    </th>
                </tr>
            </thead>
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Teas)
                    </th>

                    <th>
                        Description
                    </th>

                    <th>
                        Price per Oz
                    </th>

                    <th>
                        Price Per Lb
                    </th>

                    <th>Ozs</th>
                    <th>Lbs</th>
                    <th></th>



                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Teas)
                {
                    if (item.Category == Category)
                    {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ID">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PricePerOz)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PricePerLb)
                    </td>



                    @using (Html.BeginForm("AddToCart", "Transactions"))
                    {
                        <td>
                            <div class="form-group">
                                @Html.DropDownListFor(Model => Model.TransactionTab.Ozs, new SelectList(ozList), new { @class = "form-control" })
                            </div>
                        </td>

                        <td>
                            <div class="form-group">
                                @Html.DropDownListFor(Model => Model.TransactionTab.Lbs, new SelectList(lbsList), new { @class = "form-control" })
                            </div>
                        </td>


                        @Html.Hidden("Tea.ID", $"{item.ID}")
                        @Html.Hidden("Tea.Name", $"{item.Name}")
                        @Html.HiddenFor(model => model.Tea, item)

                        @Html.Hidden("Tea.PricePerOz", $"{item.PricePerOz}")
                        @Html.Hidden("Tea.PricePerLb", $"{item.PricePerLb}")

                        @Html.HiddenFor(model => model.TransactionTab)

                        <td>
                            <div>
                                <button type="submit" class="btn btn-primary">Add To Cart</button>
                            </div>
                        </td>
                    }



                </tr>
                    }


                }
            </tbody>


        </table>
    }
}



